*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
}

:root {
  --background-right: rgb(2, 24, 43);
}

.main {
  display: flex;
  min-height: 100vh;
  width: 100vw;
}

.left {
  background-color: greenyellow;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 10%;

  width: 35vw;
}

.left h1 {
  position: relative;
}

/*                        R I G H T                         */

.right {
  background-color: var(--background-right);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 65vw;
}

.right .content {
  width: 90%;
  margin: auto;
}

.right h2 {
  display: block;
  justify-self: flex-start;

  /* margin-left: 50px; */

  width: 100%;
}

.right form {
  display: flex;
  justify-content: center;

  flex-wrap: wrap;
  gap: 20%;
}

.right form input {
  border: none;
  border-bottom: 1px solid black;
  padding: 1%;
  margin: 1%;

  font-size: min(1.2rem, 20px);

  background-color: var(--background-right);

  color: white;
  letter-spacing: 1px;
}

.right form input:focus {
  outline: none;

  border: 1px solid yellowgreen;
  border-radius: 5px;

  transition: 1s ease all;
}

.right form input::placeholder {
  text-transform: uppercase;
  letter-spacing: 2px;
}

.right #buttonDiv {
  align-self: flex-start;
  margin-top: 20px;
}

.right button {
  background-color: yellowgreen;
  color: white;
  text-transform: capitalize;

  border: none;
  border-radius: 3px;

  width: max(7vw, 50px);
  height: max(4vh, 30px);

  font-size: max(1.4rem, 15px);
  word-spacing: 3px;
  letter-spacing: 2px;
  font-weight: bold;

  overflow-wrap: normal;
  word-wrap: normal;
  text-align: center;

  margin-bottom: 10px;
}

button:hover {
  cursor: pointer;
  background-color: rgb(167, 207, 86);
}

p {
  font-size: max(1.2rem, 15px);
}

a {
  text-transform: uppercase;
  color: yellowgreen;

  text-decoration: none;
}

a:hover {
  color: rgb(181, 211, 121);
}
