*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
}

:root {
  --background-right: rgb(2, 24, 43);
  --font: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  --clr-green: rgb(148, 231, 22);
}

.main {
  display: flex;
  min-height: 100vh;
  width: 100vw;
}

.left {
  background-color: var(--clr-green);

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 10%;

  width: 35vw;
}

.left h1 {
  width: 80%;
  margin: auto;

  font-family: var(--font);
  font-size: max(2rem, 30px);
  letter-spacing: 2px;
  word-spacing: 3px;
  color: white;
}

.left h2 {
  margin: auto;
  color: white;

  font-family: var(--font);
}

/*                        R I G H T                         */

.right {
  background-color: var(--background-right);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 65vw;
}

.right .content {
  width: 90%;
  margin: auto;
}

.right h2 {
  display: block;
  justify-self: flex-start;
}

.right form {
  display: flex;
  /* justify-content: center; */

  flex-wrap: wrap;
  gap: 20%;
}

.right form .inputDiv {
  display: flex;
  flex-direction: column;
}

.right form input {
  border: none;
  border-bottom: 1px solid yellowgreen;
  padding: 5% 1% 5% 1%;
  margin: 1%;

  font-size: min(1.2rem, 20px);

  background-color: var(--background-right);

  color: white;
  letter-spacing: 1px;
}

.right form input:focus {
  outline: none;

  border: 1px solid yellowgreen;
  border-radius: 5px;

  transition: 1s ease border;
}

.right form input::placeholder {
  text-transform: uppercase;
  letter-spacing: 2px;
}

.right form input:invalid {
  color: red;
  border-color: yellowgreen;
}

.right #buttonDiv {
  align-self: flex-start;
  margin-top: 20px;
}

.right button {
  background-color: var(--clr-green);
  color: white;
  text-transform: capitalize;

  border: none;
  border-radius: 3px;

  width: max(10vw, 250px);
  height: max(5vh, 50px);

  font-size: max(1.4rem, 15px);
  word-spacing: 3px;
  letter-spacing: 2px;
  font-weight: bold;

  overflow-wrap: normal;
  word-wrap: normal;
  text-align: center;

  margin-bottom: 10px;
}

button:hover {
  cursor: pointer;
  background-color: rgb(167, 207, 86);
}

p {
  font-size: max(1.2rem, 15px);
  word-spacing: 1px;
  letter-spacing: 1px;
  font-family: var(--font-);

  color: red;
}

a {
  text-transform: uppercase;
  color: yellowgreen;

  text-decoration: none;

  word-spacing: 1px;
  letter-spacing: 1px;
  font-family: var(--font-);
}

a:hover {
  color: rgb(181, 211, 121);
}

label {
  color: red;

  word-spacing: 1px;
  letter-spacing: 2px;
  font-family: var(--font-);
}
